name: "Terraform GitOps CI/CD"

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: "Build and Deploy"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Sync Website to S3
        run: |
          # This extracts the bucket name from the terraform output
          BUCKET_URL=$(terraform output -raw website_url)
          BUCKET_NAME=$(echo $BUCKET_URL | cut -d'.' -f1)
          aws s3 sync ./public s3://$BUCKET_NAME --delete
